   
    <div class="row d-flex justify-content-start box">
            <div class="col-md-3 sidebar overflow-auto">
            <div class="hide-login-btn d-flex justify-content-end mt-4" ><i class="fas fa-times-circle fa-2x"></i></div>
            <h1 class="text-center">Useful Links</h1>
            <hr class="mb-5">
            <div class="nav flex-column nav-pills m-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
               <a class="nav-link btn btn-lg btn-block btn-success text-white" id="v-pills-home-tab" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"> Most Asked Questions<i class="mx-2 fas fa-chevron-circle-right"></i></a>
               <hr class="my-3">
               <a class="nav-link btn btn-lg btn-block btn-success text-white" id="v-pills-messages-tab" href="/program/sathi/Our-blogs" role="tab" aria-controls="v-pills-messages" aria-selected="false">Our Blog- SATHI Health Guide<i class="mx-2 fas fa-chevron-circle-right"></i></a>
               <hr class="my-3">
               <a class="nav-link btn btn-lg btn-block btn-success text-white" id="v-pills-settings-tab" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Contact Us <i class="mx-2 fas fa-chevron-circle-right"></i></a>
             </div>
           </div>
    </div>